@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-inter);
  }
  /* Hilangkan spinner di WebKit */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hilangkan spinner di Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .sidebar-tree {
    @apply w-full flex items-center justify-between text-sm py-2 px-3 relative 
    cursor-pointer rounded-md border border-transparent font-semibold text-neutral-700 
    bg-white hover:bg-gray-900/5 hover:text-neutral-900 hover:border-gray-300 
    transition-all duration-300 ease-in-out;
  }

  .sidebar-menu {
    @apply w-full flex items-center gap-2 text-sm py-2 px-3 relative 
    cursor-pointer rounded-md border border-transparent font-semibold text-neutral-700 
    bg-white hover:bg-gray-900/5 hover:text-neutral-900 hover:border-gray-300 
    transition-all duration-300 ease-in-out;
  }
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
